.work-item {
    width: 40%;
    height: fit-content;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 3vh;
}

@media screen and (max-width: 768px) {
    .work-item {
        width: 65%;
        margin-top: 2vh;
    }
}